body {
  background-image: url("lightlantex.jpeg");
  background-color: rgb(103, 114, 108);
  background-blend-mode: overlay;
  background-size: 50%;
  color: #f5f5f5;
  text-align: center;
  font-weight: lighter;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  backdrop-filter: blur(20px);

  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px rgb(45, 46, 46);
}

.anim {
  /* animation: changeColor ease-out 14s; */
  /* animation-iteration-count: infinite; */
  background-color: rgb(17, 18, 22);
}

@keyframes changeColor {
  0% {
    background: linear-gradient(to right, rgb(25, 29, 23), #010202);
  }

  25% {
    background: linear-gradient(to left, rgb(25, 29, 23), #00ffff);
  }

  50% {
    background: linear-gradient(to left, rgb(25, 29, 23), #0672ffe7);
  }

  75% {
    background: linear-gradient(to left, rgb(25, 29, 23), #052350);
  }

  100% {
    background: linear-gradient(to right, rgb(25, 29, 23), #010202);
  }
}

header {
  position: static;
  border: 1px solid transparent;
  box-shadow: 0px 1px 6px #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  padding: 10px;
  border-radius: 10px;
  width: 97%;

  height: 8rem;
  /* background-color: #2c2d2ec4; */
}

header h1 {
  font-size: 42px;
  background-image: linear-gradient(to bottom, #14e942, #1000f0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
}

header abbr {
  background-image: linear-gradient(to bottom, #0021db, #004fe2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 22px;

  padding: 2px 2px 2px 2px;

  border-radius: 10px;
}

header button {
  position: absolute;
  height: 30px;
  width: 50px;
  top: 0;
  right: 0;
  margin: 3px;
  border: none;
  border-radius: 20px;

  background-color: transparent;
  box-shadow: 0px 1px 6px #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
  outline: none;
}

header button::before {
  position: inherit;
  content: " ";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #cfcfdb;
  padding: 2px 2px 2px 2px;

  right: 0;
}

.btn {
  background-color: transparent;
  box-shadow: 0px 1px 6px #000;
}

.btn::before {
  position: inherit;
  content: " ";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #151618;
  left: 0;
  right: auto;
}

main {
  /* background-color: blue; */
  width: 100%;
}

#bot_message {
  background-color: rgba(85, 85, 85, 0.651);
  color: #fff;
  width: 45%;
  font-size: 15px;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0px 1px 6px #000; */

  position: relative;
}

#user_message {
  background-color: rgba(245, 245, 245, 0.671);
  box-shadow: 0px 1px 6px #000;
  color: #000;
  width: 45%;
  font-size: 15px;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;

  margin-left: 51%;
}

.newUrl {
  font-weight: lighter;
  font-size: 20px;
  text-decoration: none;
  color: #9fef00;
  width: 90%;
}

.newUrl:hover {
  color: #111111;

  /* padding: 5px 5px 5px 5px; */

  background-color: #4d4d4d;
  text-decoration: none;
}

#compose_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 2px 2px 2px 2px;
}

#compose_section textarea {
  /* display as a webkit box */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  width: 94%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: transparent;
  box-shadow: 0px 1px 6px #000000;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;

  padding: 5px 5px 5px 5px;
  resize: vertical;
}

#compose_section textarea:focus {
  /* border: none; */
  outline: none;
  /* box-shadow: none; */
}

#compose_section textarea::-webkit-scrollbar {
  width: 10px;
}

#compose_section textarea::-webkit-scrollbar-track {
  background: #777;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#compose_section textarea::-webkit-scrollbar-thumb {
  background: #000;
  border: none;
  border-radius: 5px;
}

#compose_section textarea::-webkit-resizer {
  display: none;
  border-radius: 10px;
}

#compose_section textarea::placeholder {
  color: #fff;
  font-weight: lighter;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#compose_section button {
  width: 5%;
  height: 3.1rem;
  border: none;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 5px 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 12px;
  box-shadow: 0px 1px 6px #000;
}

#compose_section button i {
  color: #f8f1f1;
  font-size: 30px;
  cursor: pointer;
}

#activator #activator_btn {
  height: 4.5rem;
  width: 4.5rem;
  border: none;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#activator #activator_btn h1 {
  font-size: 30px;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  animation: click_button ease 1s;
  animation-iteration-count: infinite;
  background-color: #fff;
}

@keyframes click_button {
  0% {
    background-clip: text;
    background-image: linear-gradient(to bottom, black, blue);
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background-clip: text;
    background-image: linear-gradient(to bottom, blue, cyan);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background-clip: text;
    background-image: linear-gradient(to bottom, cyan, whitesmoke);
    -webkit-background-clip: text;
    color: transparent;
  }
}
