body {
    background-color: hsl(229,0%,79%);
    color: #fff;
    text-align: center;
    
}


header {
    color: #000;
    position: fixed;
    background: linear-gradient(to right, springgreen, #001);
    width: 96%;
    padding: 5px 5px 5px 5px;
    margin: 10px auto;
    border-radius: 5px;
    text-shadow: 3px 3px 3px springgreen;
    margin-top: -8rem;
    
}


#intro_text {
    font-weight: bolder;
    text-shadow: 2px 2px 2px springgreen;
    letter-spacing: 1px;
}


main {
    background-color: transparent;
    color: #fff;
    font-weight: bolder;
    font-style: italic;
    width: 98.5%;
    height: 41rem;
    margin: 10px auto;
    margin-top: 8.5rem;
    padding: 5px 5px 5px 5px;
}


#bot_message {
    background-color: grey;
    color: #000;
    font-weight: bolder;
    font-style: italic;
    width: 45%;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}


#user_message {
    width: 45%;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: hsl(229,73.6%,57%);
    margin-left: 19.5rem;
}


textarea {
    background: linear-gradient(to left , #001, hsl(229,47.7%,50.2%));
    color: #ffe;
    font-weight: bolder;
    font-size: 15px;
    width: 94%;
    height: 2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 4px 5px 5px ;
    margin-left: -2.1rem;
    border: 2px solid #000;
    
    opacity: 0.9;
}

#compose_section {
    margin: 10px auto;
}


#send_button {
    height: 2.82rem;
    width: 5%;
    border: 2px solid #000;
    margin-bottom: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    background: #001;
    position: absolute;
    
}

#activator_btn {
    height: 4.2rem;
    width: 4.2rem;
    background: linear-gradient(to right, blue, springgreen );
    border: 1.5px solid #000;
    border-radius: 50%;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    
    margin: -8rem ;
}