body {
  background-image: url("lightlantex.jpeg");
  background-color: rgba(43, 66, 128, 0.945);
  background-blend-mode: overlay;
  color: #f5f5f5;
  text-align: center;
  font-weight: lighter;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  backdrop-filter: blur(20px);

  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 1px 3px cyan;
}

header {
  border: 1px solid rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;
  border-radius: 10px;
  width: 95%;

  height: 8rem;
}

header h1 {
  font-size: 40px;
  background-image: linear-gradient(to bottom, #015aff, #1000f0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header abbr {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #000764);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

main {
  /* background-color: blue; */
  width: 100%;
}

#bot_message {
  background-color: rgba(85, 85, 85, 0.651);
  color: #fff;
  width: 45%;
  font-size: 15px;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;

  position: relative;
}

#user_message {
  background-color: rgba(245, 245, 245, 0.671);
  color: #000;
  width: 45%;
  font-size: 15px;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;

  margin-left: 51%;
}

.newUrl {
  font-weight: lighter;
  font-size: 20px;
  text-decoration: none;
  color: rgb(2, 0, 114);
  width: 90%;
}

.newUrl:hover {
  color: #111111;

  /* padding: 5px 5px 5px 5px; */

  background-color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #fff;
}

#compose_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding: 2px 2px 2px 2px;
}

#compose_section textarea {
  /* display as a webkit box */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  width: 94%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: rgba(41, 40, 40, 0.877);
  color: #fff;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;

  padding: 5px 5px 5px 5px;
  resize: vertical;
}

#compose_section textarea:focus {
  /* border: none; */
  outline: none;
  /* box-shadow: none; */
}

#compose_section textarea::-webkit-scrollbar {
  width: 10px;
}

#compose_section textarea::-webkit-scrollbar-track {
  background: #777;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#compose_section textarea::-webkit-scrollbar-thumb {
  background: #000;
  border: none;
  border-radius: 5px;
}

#compose_section textarea::-webkit-resizer {
  display: none;
  border-radius: 10px;
}

#compose_section textarea::placeholder {
  color: #fff;
  font-weight: lighter;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#compose_section button {
  width: 5%;
  height: 3.1rem;
  border: none;
  background-color: rgba(41, 40, 40, 0.877);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 5px 5px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 12px;
}

#compose_section button i {
  color: #f8f1f1;
  font-size: 30px;
}

#activator #activator_btn {
  height: 4.5rem;
  width: 4.5rem;
  border: none;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#activator #activator_btn h1 {
  font-size: 30px;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  animation: click_button ease 1s;
  animation-iteration-count: infinite;
  background-color: #fff;
}

@keyframes click_button {
  0% {
    background-clip: text;
    background-image: linear-gradient(to bottom, black, blue);
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background-clip: text;
    background-image: linear-gradient(to bottom, blue, cyan);
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background-clip: text;
    background-image: linear-gradient(to bottom, cyan, whitesmoke);
    -webkit-background-clip: text;
    color: transparent;
  }
}
